Checks: "bugprone-*,
  cppcoreguidelines-*,
  llvm-*,
  performance-*,
  modernize-use-nodiscard,
  readability-*,
  clang-analyzer-core.*,
  clang-analyzer-cplusplus.*,
  clang-analyzer-nullability.*,
  bugprone-narrowing-conversions,
  bugprone-switch-missing-default-case,
  bugprone-reserved-identifier,
  bugprone-macro-parentheses,
  -bugprone-easily-swappable-parameters,
  -bugprone-branch-clone,
  -*-narrowing-conversions,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-pro-type-member-init,
  -readability-convert-member-functions-to-static,
  -readability-make-member-function-const,
  -readability-magic-numbers,
  -readability-identifier-length,
  -performance-enum-size,
  -*-non-private-member-variables-in-classes,
  -*-enum-initial-value,
  -modernize-use-auto,
  -*-pro-bounds-constant-array-index,
  -readability-uppercase-literal-suffix,
  -*-pro-type-const-cast,
  -*-pro-type-reinterpret-cast,
  -llvm-header-guard,
  -llvm-else-after-return,
  -*-unhandled-self-assignment"
WarningsAsErrors: "*"