/venv/
/demo/.godot/
/demo/*.import
/cmake-build-debug/
/src/gen/
CMakeLists.txt
*.o
*.os
*.dll
*.so
*.a
Info.plist
*.import
.sconsign.dblite
*.dylib
/.idea/
*tmp
docker-storage/MacOSX14.5.sdk.tar.xz
/doc
/platform
/modules
*.macos
